#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml

#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db

#---------------------------------
# npm & co
#---------------------------------
npm-debug.log
yarn-error.log

#---------------------------------
# twgit
#---------------------------------
.twgit_features_subject

